.header {
  background: url("../img/city.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 900px;
}

nav {
  padding: 0 2rem;
}

.jumbotron {
  text-align: right;
}

.section-boxes {
  padding: 0;
}

.section-boxes .box {
  padding: 2rem;
}

.section-boxes .row {
  margin: 0;
}

.section-contact {
  position: relative;
}

.section-contact .input-field {
  margin-top: 2rem;
}

.section-contact .card-panel {
  position: relative;
  z-index: 1;
}

#googlemap {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

@media (max-width: 600px) {
  .jumbotron {
    text-align: center;
  }

  .jumbotron h4 {
    font-size: 2rem;
    text-align: center;
  }

  .jumbotron h2 {
    font-size: 3rem;
    text-align: center;
  }
}
