.header {
  background: url("../img/city.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 900px;
}

nav {
  padding: 0 2rem;
}

.jumbotron {
  text-align: right;
}

.section-aboutus .box {
  margin-bottom: 1rem;
  padding: 1rem;
}

.section-contact {
  position: relative;
}

.section-contact .input-field {
  margin-top: 2rem;
}

.section-contact .card-panel {
  position: relative;
  z-index: 1;
}

#googlemap {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #005795;
  box-shadow: 0 1px 0 0 #005795;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #005795;
}

@media (max-width: 600px) {
  .jumbotron {
    text-align: center;
  }

  .jumbotron h4 {
    font-size: 2rem;
    text-align: center;
  }

  .jumbotron h2 {
    font-size: 3rem;
    text-align: center;
  }

  .card-panel {
    background-color: rgba(255, 255, 255, 0.85);
  }

  .page-footer .col {
    text-align: center;
  }
}
